extends layout

block content
  div(ng-controller="indexController")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide
        .ui.stacked.segment.gameArea
          .circle.blue(style='left:150px; top:100px')
            .relative
              span.name Mehmet
              .message Selam
          .circle.green(style='left:300px; top:100px')
            .relative
              span.name Alp
              .message selam nas覺ls覺n :)
          .circle.red(style='left:350px; top:300px')
            .relative
              span.name Joe
              .message this is awesome
        .ui.items.chat
          .item
            .content
              a.header.name Mehmet
              .description.message
                | Selam
          .item
            .content
              a.header.name Alp
              .description.message
                | selam nas覺ls覺n :)
          .item
            .content
              a.header.name Joe
              .description.message
                | this is awesome
          .item
            .content
              a.header.name Sinang
              .description.message
                | hey
        .ui.action.input.fluid
          input(type='text', placeholder='Type here...')
          button.ui.button Send

