extends layout

block content
  div(ng-controller="indexController", ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide
        .ui.stacked.segment.gameArea
          .circle.blue(style='left:150px; top:100px')
            .relative
              span.name Mehmet
              .message Selam
          .circle.green(style='left:300px; top:100px')
            .relative
              span.name Alp
              .message selam nasılsın :)
          .circle.red(style='left:350px; top:300px')
            .relative
              span.name Joe
              .message this is awesome
        .ui.items.chat
          .item(ng-repeat="message in messages")
            .content(ng-if="!message.type.code")
              span [SERVER] &nbsp;
              a.header.name {{ message.username }} &nbsp;
              .description.message(ng-if="!message.type.message")
                | ayrıldı.
              .description.message(ng-if="message.type.message")
                | katıldı.

        .ui.action.input.fluid
          input(type='text', placeholder='Type here...')
          button.ui.button Send

