body{
  background-color: #f0f1f6!important;
}

.margin-30{
  margin: 30px 0!important;
}

.gameArea{
  min-height:450px;
  position: relative;
}

.circle {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto 40px;
  position: absolute;
  top: 100px
}

.blue {
  background-color: #3498db;
}
.green {
  background-color: #16a085;
}
.red {
  background-color: #e74c3c;
}

.circle .relative{
  position: relative;
}

.circle .relative > .name {
  text-transform: uppercase;
}
.circle .relative > .message{
  font-size: 11px;
  position: absolute;
  top: -22px;
  line-height: 14px;
  color: #333;
  background-color: #f1f1f1;
  padding: 3px 5px;
  left: 0;
  width: 100%;
  display: inline-block;
}

.chat{
  margin-right: 10px!important;
  margin-left: 10px!important;
  height: 90px;
  -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))

}
.chat .content{
  text-align: left;
}
.chat .name{
  font-size: 15px!important;
}
.chat .message{
  display: inline;
}
.chat .item{
  margin:.3em 0!important;
}