body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  background: #1F252D url("https://source.unsplash.com/random/1920x1080") no-repeat center fixed !important;
  background-size: cover;
}

.gameArea{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 100px
}

.circle .relative{
  position: relative;
}

.circle .relative > .name {
  text-transform: uppercase;
}
.circle .relative > .message{
  font-size: 11px;
  position: absolute;
  top: -22px;
  line-height: 14px;
  color: #333;
  background-color: #f1f1f1;
  padding: 3px 5px;
  left: 0;
  width: 100%;
  display: none;
}

.chat{
  position: absolute;
  bottom: 11%;
  left: 30%;
  width: 40%;
  height: 88%;
  overflow-y: auto;
  z-index: -1;
}
.chat .content{
  text-align: left;
  padding: 2px 10px;
  color:#fff;
  text-shadow: 2px 2px #000;
  letter-spacing: 2px;
}
.chat .name{
  font-size: 15px!important;
}
.chat .message{
  display: inline;
}
.chat .item{
  margin:.2em 0!important;
}

form{
  position: absolute;
  bottom: 20px;
  width: 40%;
  left: 30%;
  padding: 10px;
  padding: 0;
}
form input{
  padding: 10px;
  outline: none;
  width: 100%;
  border: solid 1px sandybrown;
}
::-webkit-scrollbar {
  width: 0px;
}
span.changes{
  position: absolute;
  right: 0;
  top: 3px;
  padding: 5px;
  cursor: pointer;
  background: skyblue;
}
span.change{
  position: absolute;
  right: -5px;
  bottom: 35px;
  width: 150px;
  padding: 5px;
  display: none;
}
span.change a{
  display: block;
  text-align: right;
  padding: 5px;
  background: skyblue;
  margin-bottom: 3px;
  cursor: pointer;
}